/* || Components - Attribution single line description
   ========================================================================== */

@use '../../abstracts/variables' as var;
@use '../../base/sitewide';

$font-size: var.$fs-s  !default;
$color: var.$c-secondary  !default;
$line-height: var.$lh-normal  !default;
$font-weight: 400 !default;


.attr-sl-desc {}

.attr-sl-desc-cnt {
	font-size: $font-size;
	color: $color;
	line-height: $line-height;
	font-weight: $font-weight;
	margin: 0;
}

.attr-sl-desc-a {
	@extend %link-footer;
}