/* || Components - Button capsule 
   ========================================================================== */

@use 'sass:color';
@use '../../abstracts/variables' as var;

$background-color: var.$bc-primary  !default;
$color: var.$c-primary  !default;
$width: 100% !default;
$outline-color: var.$c-secondary  !default;
$hover-bg-color: color.adjust($background-color, $lightness: 5%) !default;
$hover-color: var.$bc-primary  !default;
$border-radius: 200px !default;


.button-capsule {
	background-color: $background-color;
	border-radius: 200px;
	width: $width;
	outline: $outline-color;
	cursor: pointer;
	border: none;
	padding: 1px 4px;
	transition: color 0.2s ease, background-color 0.2s ease;

	@if $color {
		color: $color;
	}

	&:hover {
		background-color: $hover-bg-color;
		color: $hover-color;
	}
}