/* || Components - Rating component with number and rounded background
   ========================================================================== */

@use '../../abstracts/variables' as var;
@use '../../base/utilities';
@use '../../base/sitewide';
@use 'sass:color';

.rate-round-number {
	@extend %ul-no-style;
	display: flex;
	justify-content: space-between;
}

.rate-rn-label {
	border-radius: 50%;
	background-color: color.adjust(var.$bc-ternary, $alpha: -0.9);
	padding: 5px;
	width: 42px;
	height: 42px;
	@extend %flex-vh-center;
	transition: color 0.2s ease, background-color 0.2s ease;

	@media screen and (min-width: var.$mobile-view-landscape) {
		width: 52px;
		height: 52px;
	}

	&:hover,
	&:focus {
		background-color: var.$bc-primary;
		color: var.$c-primary;
	}
}

.rate-rn-input {
	@extend %hide-visually;

	&:checked+label {
		background-color: color.adjust(var.$bc-ternary, $alpha: -0.5);
		color: var.$c-primary;
	}
}