/* || Pages - Home
   ========================================================================== */

@use '../abstracts/variables' as var;
@use '../components/block/rate-card-rnb';
@use '../components/icons/icon-rounded-bg';
@use '../components/rating/rate-round-number';
@use '../components/buttons/button-capsule' with ($hover-bg-color: var.$c-primary, $color: null);
@use '../components/attribution/attr-sl-desc';
@use '../components/error/validation-error';

.rc-rnb-heading {

	@media screen and (min-width: var.$mobile-view-landscape) {
		margin-top: 1.5em;
		margin-bottom: 0;
	}
}

.button-capsule {
	padding-top: 14px;
	padding-bottom: 14px;
	margin: 14px 0 8px;
	letter-spacing: 2px;

	@media screen and (min-width: var.$mobile-view-landscape) {
		margin: 22px 0 2px;
	}
}

.attr-sl-desc-cnt {
	text-align: center;
	margin: 10px 0;
}