/* || Abstracts - Forms
   ========================================================================== */
@use '../base/utilities';

// Remove field set default style
%fieldset-no-style {
	padding: 0;
	margin: 0;
	border: none;
}

.form-legend-off {
	.fl-off-fieldset {
		@extend %fieldset-no-style;
	}

	.fl-off-legend {
		@extend %hide-visually;
	}
}