/* || Components - Icon rounded with background 
   ========================================================================== */

@use 'sass:color';
@use '../../abstracts/variables' as var;
@use '../../base/sitewide';

$background-color: color.adjust(var.$bc-ternary, $alpha: -0.9) !default;
$icon-width: 42px !default;
$icon-img-width: 17px !default;

.icon-rounded-bg {
	@extend %flex-vh-center;
	background-color: $background-color;
	border-radius: 50%;
	width: $icon-width;
	height: $icon-width;

	@media screen and (min-width: var.$mobile-view-landscape) {
		width: ($icon-width + 8);
		height: ($icon-width + 8);
	}
}

.ir-bg-img {
	width: $icon-img-width;
	height: $icon-img-width;
}