/* Component - Capsule shape element or block
   -------------------------------------------------------------------------- */
@use '../../abstracts/variables' as var;
@use 'sass:color';

$border-radius: 200px !default;
$background-color: color.adjust(var.$bc-ternary, $alpha: -0.9) !default;

.shape-capsule {
	display: inline-block;
	border-radius: $border-radius;
	background-color: $background-color;
}